:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: rgb(77, 151, 236);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Roboto;
}

.container {
    width: 90vw;
    max-width: 800px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}