:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Roboto;
}

.container {
    width: 90vw;
    height: 85vh;
    min-width: 400px;
    min-height: 600px;
    display: flex;
    padding: 35px;

    background-color: rgb(77, 151, 236);
    border-radius: 30px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

@media (min-width: 200px) {
    :root {
        font-size: 60.5%;
    }
}


@media (max-width: 900px) {
    :root {
        font-size: 43.5%;
    }
}